@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/*Guardar variaveis*/
:root{
    --verde:#006400;
    --amarelo:#ffcf00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo da página */
body{
    background: var(--verde);
}

@media(max-width:768px){
    .apresentacao_m{
        flex-direction: column;
    }
}

/*Parte do título*/
 header{
    clear: both;
    background: var(--amarelo);
    color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    }

.titulo_m{
    position: relative;
    top: 15px;
    font-family: "Dela Gothic One";
    text-shadow:  black 4px 3px 7px;
}
/*Parte da apresentação*/
 .marquinhos{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    float: left;
    margin-right: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }

 .apresentacao_m{
    display: flex;
    margin-top: 30px;
    color: white;
    text-shadow:  black 2px 3px 7px;
 }

 .biografia_m{
    font-size: 15pt;
    margin-top: 40px;
    padding: 20px;
 }
/*Parte da nevegação*/
 .tabela_m{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow:  black 2px 3px 7px;
 }

 .nav_m{
    color: white;
    font-size: 18pt;
    position: relative;
    left: 120px;
    
 }

 .pp_pd a{
    color: white;
    text-decoration: none;
    font-size: 15pt;
    position: relative;
    bottom: 25px;
 }

 .pp_pd img{
    position: relative;
    right: 10px;
    margin-left: 20px;
}
/*Rodapé*/
.footer_m{
    display: flex;
    justify-content: center;
}

.footer_m a{
    color: black;
    position: relative;
    bottom: 0px;
    font-size: 12pt;
}

.insta_m{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.img_audio{
    position: relative;
    left: 500px;
    padding: 20px;
    bottom: 10px;
}